@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --Youtube: hsl(348, 97%, 39%);

  
  /* DARK THEME */
  --DT-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --DT-BG: hsl(230, 17%, 14%);
  --DT-Top-BG-Pattern: hsl(232, 19%, 15%);
  --DT-Card-BG: hsl(228, 28%, 20%);
  --DT-text-blue: hsl(228, 34%, 66%);
  --DT-text-white: hsl(0, 0%, 100%);

  /* LIGHT THEME */
  --LT-toggle: hsl(230, 22%, 74%);
  --LT-BG: hsl(0, 0%, 100%);
  --LT-BG-pattern: hsl(225, 100%, 98%);
  --LT-Card-BG: hsl(227, 47%, 96%);
  --LT-text-gray: hsl(228, 12%, 44%);
  --LT-text-blue: hsl(230, 17%, 14%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  background-color: var(--LT-BG);
}

body::before {
  height: 30vh;
  width: 100%;
  background-color: var(--LT-BG-pattern);
  z-index: -2;
  content: '';
  position: absolute;
}
/* MAIN GRID SET-UP */
.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: 1fr 4fr 1fr 4fr;
  grid-template-areas: 
    "header toggle"
    "overview overview"
    "subheader subheader"
    "detail detail";
  padding: 2% 10% 5% 10%;
  height: 100%;
  width: 100%;
}

.header {
  grid-area: header;
}
.toggle {
  grid-area: toggle;
  justify-self: end;
}
.overview {
  grid-area: overview;
}

.subheader {
  grid-area: subheader;
  align-self: center;
}

.detail {
  grid-area: detail;
}


/* OVERVIEW LAYOUT */
.overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

/* Header STYLES */
.header h1 {
  color: var(--LT-text-blue);
}

.header h5 {
  color: var(--LT-text-gray);
}

.toggle h4 {
  display: inline-block;
  align-self: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: var(--DT-toggle);
}

input:focus + .slider {
  box-shadow: 0 0 1px blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* CARD AND ELEMENTS STYLING */
.card {
  background-color: var(--LT-Card-BG);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  width: 100%;
}

.facebook {
  border-top: 4px solid var(--Facebook);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.twitter {
  border-top: 4px solid var(--Twitter);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* This was the best way I could find to get the instagram linear gradient to work as a border */
.instagram {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 4px 0 0 0;
  border-top: 4px solid transparent;
  background: 
    linear-gradient(to right, var(--LT-Card-BG), var(--LT-Card-BG)),
    var(--Instagram);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}


.youtube {
  border-top: 4px solid var(--Youtube);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tag {
  justify-self: center;
  align-self: center;
}

.tag img {
  position: absolute;
  transform: translate(-250%, -20%);
}
.tag span {
  position: absolute;
  transform: translate(-20%, -15%);
}

.SM-number {
  font-size: 3.5rem;
  justify-self: center;
}

.followers {
  align-self: start;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--LT-text-gray);
  justify-self: center;
}

.daily-number {
  justify-self: center;
  align-self: start;
  color: var(--Lime-Green);
}

.daily-number img {
  position: absolute;
  transform: translate(-500%, 250%);
}

.daily-number span {
  position: absolute;
  transform: translate(-35%, 20%);
}

.daily-number .down-icon {
  color: var(--Bright-Red);
}





/* DETAIL LAYOUT */
.detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

.mini-card {
  background-color: var(--LT-Card-BG);
}
